@{
    ViewData["Title"] = "Terms & Conditions";
}
<style>
    .Homecontainer {
        display: flex;
        flex-direction: column;
        background-position: center top;
        background-attachment: fixed;
        font-family: helvetica, times;
        color: black;
        height: 78vh;
        align-items:center;
        justify-content:center;
        
    }

    h3 {
        font-weight: bolder;
        text-decoration: underline;
    }

</style>

<div class="Homecontainer">
    <h3>Terms & Conditions</h3>
    <ol>
        <li>User needs to first contact Adminstrator to make his account.</li>
        <li>Any book that is borrowed must be returned under 14 days after the day on which it is borrowed.</li>
        <li>In case the book is not returned under 14 days, the user will be charged 10 INR for each extra day.</li>
        <li>Library books and documents must be treated with honour, so that it is prohibited to underline, write notes or pull out pages there from.</li>
        <li>All dues to the library must be paid.</li>
        <li>The library will not be held responsible for the loss of any personal belongings of users.</li>
    </ol>
</div>